<h1> Roll a Pair of Dice! </h1>

<ul>
<li><% side_one = 1+ rand(6) %>

The first dice is: <%= side_one %>
<img src="4.png" title="dice">
<%= image_tag 'rand(4.png)'%>
</li>

<li><% side_two = 1+ rand(6) %>

The second dice is: <%= side_two %></li>
</ul>
