<p>
<%= link_to "Home", "/" %>   |  <%= link_to "Bookstore", "/books" %> 	  
</p>

<h1> Editor's Pick </h1>



<h2> <%= link_to "The Alchemist", "/books/64"%> </h2>

<%= image_tag "http://g.christianbook.com/g/ebooks/covers/w185/1/1122416_w185.png", "width" => "200" %>

